@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Recursive:wght@300;400;500;600;700;800;900;1000&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: #232830;
    color: white;
    margin: 0; /* Reset default margin */
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.headerformat {
    margin: 90px 226px -20px 218px; /* Adjusted margin values */
    position: relative;
}

.logoa {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

ul {
    list-style: none;
    display: flex;
    gap: 36px;
}

.headerformat .logoa {
    position: absolute;
    left: 0;
    margin: 0;
}

.headerformat ul {
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
hr{
    width: 1680px;
height: 3px;opacity: 0.2;
background: #4D4D4D;
margin-top: 30px;
margin-bottom: 30px;
}

.headerformat ul li {
    margin-left: 10px;
}

.headerformat img {
    justify-content: center;
    align-items: center;
    display: block;
    margin: 0 auto;
}
.headerformat .divin {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    /* margin: 20px; */
    padding: 50px;
    margin-top: 20px;

}


.headerformat h1 {
    color: #FF7575;
    font-family: Recursive;
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 4px; 
    margin-top: 40px;
}

.headerformat .divin p {
    font-size: 15px;
    margin-top: 10px; /* Adjust the margin-top as needed */
    margin-bottom: 0; /* Adjust the margin-bottom as needed */
}
.lang{
    display: flex;
    gap: 36px;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.lang h5
{ 
 color: #909090;
font-family: Recursive;
font-size: 20px;
font-style: italic;
font-weight: 400;
line-height: normal;
margin-top: 10px;
align-items: center;
margin: 0;
}
.lang img:hover {
            cursor: pointer;
            transform: rotate(180deg);
            transition: transform 0.3s ease;
}

.Explainers {
            background: linear-gradient(270deg, #232830 0.01%, rgba(35, 40, 48, 0.00) 87.5%);
            color: white; /* Set the text color to make it visible on the gradient background */
            padding: 10px; /* Add padding for better visibility */
            margin: 5px 0; /* Add margin for spacing between elements */
}

.gridcontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px; /* Adjust the gap between items as needed */
    margin: 40px auto;
    width: 90%;

}

.gridcontainer div {
    text-align: center; 
}

.gridcontainer img {
    max-width: 100%;
    height: auto; 
    position: relative;
    margin: 26px;
}
.gridcontainer .inside{
    justify-content: center;
    align-items:left;
    background-color: #FFFF;
    color: #232830;
    border-radius: 14px;
    
    /* text-align: left; */
}
.gridcontainer .inside p{
    font-size: 14px;
    /* margin-top: 0; */
}
.gridcontainer .inside h4{
    margin: auto 24px;
    /* padding: 33px 24px; */
}
.gridcontainer .inside h5{
    
    /* justify-content: right; */
    text-align: right;
    margin-right: 6rem;
    /* position: relative; */
    font-size: 15px;
}
.gridcontainer .inside h6{
    text-align: left;
    font-size: 15px;
}
.gridcontainer .inside .major{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: 50px;
    margin-bottom: -10px;
}

.pagination h4{
    color: #909090;
font-family: Recursive;
font-size: 15px;
font-style: italic;
font-weight: 400;
line-height: normal;
cursor: pointer;
}
.pagination{
    justify-content: center;
    text-align: center;
    display: flex;
    gap: 36px;
}
.footer{
    display: flex;
    gap: 40px;
    font-size: 10px;
    text-align: center;
    justify-content: left;
    margin-left: 80px;
}

.footer h4{
    color: orangered;
font-family: Recursive;
/* background-color: blue; */
padding: -3px 10px;
border-radius: 14px;
}